USE [BrickBreakerGameDB]
GO
/****** Object:  Table [dbo].[BallProperties]    Script Date: 3/15/2026 8:55:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BallProperties](
	[PlayerId] [int] NOT NULL,
	[BallSpeed] [float] NULL,
	[BallSize] [float] NULL,
	[BallCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameStats]    Script Date: 3/15/2026 8:55:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameStats](
	[StatsId] [int] IDENTITY(1,1) NOT NULL,
	[PlayerId] [int] NOT NULL,
	[GamesPlayed] [int] NULL,
	[TotalScore] [int] NULL,
	[BricksBroken] [int] NULL,
	[HighestLevel] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StatsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaddleProperties]    Script Date: 3/15/2026 8:55:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaddleProperties](
	[PlayerId] [int] NOT NULL,
	[PaddleWidth] [float] NULL,
	[PaddleSpeed] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 3/15/2026 8:55:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[PlayerId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[Coins] [int] NOT NULL,
	[Gems] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PowerUps]    Script Date: 3/15/2026 8:55:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PowerUps](
	[PowerUpId] [int] IDENTITY(1,1) NOT NULL,
	[PowerUpName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[EffectType] [nvarchar](50) NOT NULL,
	[EffectValue] [float] NOT NULL,
	[Duration] [int] NULL,
	[Price] [int] NOT NULL,
	[CurrencyType] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[PowerUpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseHistory]    Script Date: 3/15/2026 8:55:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseHistory](
	[PurchaseId] [int] IDENTITY(1,1) NOT NULL,
	[PlayerId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[PricePaid] [int] NOT NULL,
	[PurchaseDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaveGame]    Script Date: 3/15/2026 8:55:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaveGame](
	[SaveId] [int] IDENTITY(1,1) NOT NULL,
	[PlayerId] [int] NOT NULL,
	[SaveName] [nvarchar](100) NULL,
	[Level] [int] NULL,
	[CurrentScore] [int] NULL,
	[Lives] [int] NULL,
	[BricksRemaining] [int] NULL,
	[BallPositionX] [float] NULL,
	[BallPositionY] [float] NULL,
	[PaddlePositionX] [float] NULL,
	[GameState] [nvarchar](max) NULL,
	[SaveDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SaveId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Scores]    Script Date: 3/15/2026 8:55:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scores](
	[ScoreId] [int] IDENTITY(1,1) NOT NULL,
	[PlayerId] [int] NOT NULL,
	[Score] [int] NOT NULL,
	[PlayedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ScoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopItems]    Script Date: 3/15/2026 8:55:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopItems](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Price] [int] NOT NULL,
	[CurrencyType] [nvarchar](10) NULL,
	[ItemType] [nvarchar](50) NOT NULL,
	[EffectType] [nvarchar](50) NULL,
	[EffectValue] [int] NULL,
	[ImagePath] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInventory]    Script Date: 3/15/2026 8:55:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInventory](
	[InventoryId] [int] IDENTITY(1,1) NOT NULL,
	[PlayerId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[Quantity] [int] NULL,
	[IsEquipped] [bit] NULL,
	[PurchasedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [UQ__GameStat__4A4E74C949A65657]    Script Date: 3/15/2026 8:55:27 PM ******/
ALTER TABLE [dbo].[GameStats] ADD UNIQUE NONCLUSTERED 
(
	[PlayerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Players__65FC2FE63F6AA3E7]    Script Date: 3/15/2026 8:55:27 PM ******/
ALTER TABLE [dbo].[Players] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UserInventory_PlayerItem]    Script Date: 3/15/2026 8:55:27 PM ******/
ALTER TABLE [dbo].[UserInventory] ADD  CONSTRAINT [UQ_UserInventory_PlayerItem] UNIQUE NONCLUSTERED 
(
	[PlayerId] ASC,
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BallProperties] ADD  DEFAULT ((5.0)) FOR [BallSpeed]
GO
ALTER TABLE [dbo].[BallProperties] ADD  DEFAULT ((1.0)) FOR [BallSize]
GO
ALTER TABLE [dbo].[BallProperties] ADD  DEFAULT ((1)) FOR [BallCount]
GO
ALTER TABLE [dbo].[GameStats] ADD  DEFAULT ((0)) FOR [GamesPlayed]
GO
ALTER TABLE [dbo].[GameStats] ADD  DEFAULT ((0)) FOR [TotalScore]
GO
ALTER TABLE [dbo].[GameStats] ADD  DEFAULT ((0)) FOR [BricksBroken]
GO
ALTER TABLE [dbo].[GameStats] ADD  DEFAULT ((1)) FOR [HighestLevel]
GO
ALTER TABLE [dbo].[PaddleProperties] ADD  DEFAULT ((100.0)) FOR [PaddleWidth]
GO
ALTER TABLE [dbo].[PaddleProperties] ADD  DEFAULT ((10.0)) FOR [PaddleSpeed]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((1000)) FOR [Coins]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((50)) FOR [Gems]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PowerUps] ADD  DEFAULT ('Coin') FOR [CurrencyType]
GO
ALTER TABLE [dbo].[PurchaseHistory] ADD  DEFAULT (getdate()) FOR [PurchaseDate]
GO
ALTER TABLE [dbo].[SaveGame] ADD  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[SaveGame] ADD  DEFAULT ((0)) FOR [CurrentScore]
GO
ALTER TABLE [dbo].[SaveGame] ADD  DEFAULT ((3)) FOR [Lives]
GO
ALTER TABLE [dbo].[SaveGame] ADD  DEFAULT (getdate()) FOR [SaveDate]
GO
ALTER TABLE [dbo].[Scores] ADD  DEFAULT (getdate()) FOR [PlayedDate]
GO
ALTER TABLE [dbo].[ShopItems] ADD  DEFAULT ('Coin') FOR [CurrencyType]
GO
ALTER TABLE [dbo].[ShopItems] ADD  DEFAULT ((0)) FOR [EffectValue]
GO
ALTER TABLE [dbo].[ShopItems] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserInventory] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[UserInventory] ADD  DEFAULT ((0)) FOR [IsEquipped]
GO
ALTER TABLE [dbo].[UserInventory] ADD  DEFAULT (getdate()) FOR [PurchasedAt]
GO
ALTER TABLE [dbo].[BallProperties]  WITH CHECK ADD  CONSTRAINT [FK_BallProperties_Players] FOREIGN KEY([PlayerId])
REFERENCES [dbo].[Players] ([PlayerId])
GO
ALTER TABLE [dbo].[BallProperties] CHECK CONSTRAINT [FK_BallProperties_Players]
GO
ALTER TABLE [dbo].[GameStats]  WITH CHECK ADD  CONSTRAINT [FK_GameStats_Players] FOREIGN KEY([PlayerId])
REFERENCES [dbo].[Players] ([PlayerId])
GO
ALTER TABLE [dbo].[GameStats] CHECK CONSTRAINT [FK_GameStats_Players]
GO
ALTER TABLE [dbo].[PaddleProperties]  WITH CHECK ADD  CONSTRAINT [FK_PaddleProperties_Players] FOREIGN KEY([PlayerId])
REFERENCES [dbo].[Players] ([PlayerId])
GO
ALTER TABLE [dbo].[PaddleProperties] CHECK CONSTRAINT [FK_PaddleProperties_Players]
GO
ALTER TABLE [dbo].[PurchaseHistory]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseHistory_Players] FOREIGN KEY([PlayerId])
REFERENCES [dbo].[Players] ([PlayerId])
GO
ALTER TABLE [dbo].[PurchaseHistory] CHECK CONSTRAINT [FK_PurchaseHistory_Players]
GO
ALTER TABLE [dbo].[PurchaseHistory]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseHistory_ShopItems] FOREIGN KEY([ItemId])
REFERENCES [dbo].[ShopItems] ([ItemId])
GO
ALTER TABLE [dbo].[PurchaseHistory] CHECK CONSTRAINT [FK_PurchaseHistory_ShopItems]
GO
ALTER TABLE [dbo].[SaveGame]  WITH CHECK ADD  CONSTRAINT [FK_SaveGame_Players] FOREIGN KEY([PlayerId])
REFERENCES [dbo].[Players] ([PlayerId])
GO
ALTER TABLE [dbo].[SaveGame] CHECK CONSTRAINT [FK_SaveGame_Players]
GO
ALTER TABLE [dbo].[Scores]  WITH CHECK ADD  CONSTRAINT [FK_Scores_Players] FOREIGN KEY([PlayerId])
REFERENCES [dbo].[Players] ([PlayerId])
GO
ALTER TABLE [dbo].[Scores] CHECK CONSTRAINT [FK_Scores_Players]
GO
ALTER TABLE [dbo].[UserInventory]  WITH CHECK ADD  CONSTRAINT [FK_UserInventory_Players] FOREIGN KEY([PlayerId])
REFERENCES [dbo].[Players] ([PlayerId])
GO
ALTER TABLE [dbo].[UserInventory] CHECK CONSTRAINT [FK_UserInventory_Players]
GO
ALTER TABLE [dbo].[UserInventory]  WITH CHECK ADD  CONSTRAINT [FK_UserInventory_ShopItems] FOREIGN KEY([ItemId])
REFERENCES [dbo].[ShopItems] ([ItemId])
GO
ALTER TABLE [dbo].[UserInventory] CHECK CONSTRAINT [FK_UserInventory_ShopItems]
GO
ALTER TABLE [dbo].[BallProperties]  WITH CHECK ADD CHECK  (([BallCount]>=(1)))
GO
ALTER TABLE [dbo].[BallProperties]  WITH CHECK ADD CHECK  (([BallSize]>(0)))
GO
ALTER TABLE [dbo].[BallProperties]  WITH CHECK ADD CHECK  (([BallSpeed]>(0)))
GO
ALTER TABLE [dbo].[PaddleProperties]  WITH CHECK ADD CHECK  (([PaddleWidth]>=(50)))
GO
ALTER TABLE [dbo].[PaddleProperties]  WITH CHECK ADD CHECK  (([PaddleSpeed]>(0)))
GO
ALTER TABLE [dbo].[PowerUps]  WITH CHECK ADD CHECK  (([Price]>(0)))
GO
ALTER TABLE [dbo].[PurchaseHistory]  WITH CHECK ADD CHECK  (([PricePaid]>(0)))
GO
ALTER TABLE [dbo].[ShopItems]  WITH CHECK ADD CHECK  (([CurrencyType]='Gem' OR [CurrencyType]='Coin'))
GO
ALTER TABLE [dbo].[ShopItems]  WITH CHECK ADD CHECK  (([ItemType]='PowerUp' OR [ItemType]='Paddle' OR [ItemType]='Ball'))
GO
ALTER TABLE [dbo].[ShopItems]  WITH CHECK ADD CHECK  (([Price]>(0)))
GO
ALTER TABLE [dbo].[UserInventory]  WITH CHECK ADD CHECK  (([Quantity]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_BuyItem]    Script Date: 3/15/2026 8:55:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_BuyItem]
    @PlayerId INT,
    @ItemId INT,
    @Quantity INT = 1
AS
BEGIN
    BEGIN TRANSACTION;
    
    DECLARE @Price INT, @CurrencyType NVARCHAR(10), @TotalPrice INT;
    DECLARE @CurrentCoins INT, @CurrentGems INT;
    
    SELECT @Price = Price, @CurrencyType = CurrencyType 
    FROM ShopItems WHERE ItemId = @ItemId;
    
    SET @TotalPrice = @Price * @Quantity;
    
    SELECT @CurrentCoins = Coins, @CurrentGems = Gems 
    FROM Players WHERE PlayerId = @PlayerId;
    
    IF @CurrencyType = 'Coin' AND @CurrentCoins < @TotalPrice
    BEGIN
        ROLLBACK;
        SELECT 'Không đủ xu' AS Message;
        RETURN;
    END
    
    IF @CurrencyType = 'Gem' AND @CurrentGems < @TotalPrice
    BEGIN
        ROLLBACK;
        SELECT 'Không đủ đá quý' AS Message;
        RETURN;
    END
    
    IF @CurrencyType = 'Coin'
        UPDATE Players SET Coins = Coins - @TotalPrice WHERE PlayerId = @PlayerId;
    ELSE
        UPDATE Players SET Gems = Gems - @TotalPrice WHERE PlayerId = @PlayerId;
    
    IF EXISTS (SELECT 1 FROM UserInventory WHERE PlayerId = @PlayerId AND ItemId = @ItemId)
        UPDATE UserInventory SET Quantity = Quantity + @Quantity 
        WHERE PlayerId = @PlayerId AND ItemId = @ItemId;
    ELSE
        INSERT INTO UserInventory (PlayerId, ItemId, Quantity) 
        VALUES (@PlayerId, @ItemId, @Quantity);
    
    INSERT INTO PurchaseHistory (PlayerId, ItemId, PricePaid, PurchaseDate) 
    VALUES (@PlayerId, @ItemId, @TotalPrice, GETDATE());
    
    COMMIT;
    SELECT 'Mua thành công' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckBalance]    Script Date: 3/15/2026 8:55:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- 9. KIỂM TRA SỐ DƯ
-- =====================================================
CREATE   PROCEDURE [dbo].[sp_CheckBalance]
    @PlayerId INT
AS
BEGIN
    SELECT Coins, Gems FROM Players WHERE PlayerId = @PlayerId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EquipItem]    Script Date: 3/15/2026 8:55:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- 5. TRANG BỊ VẬT PHẨM
-- =====================================================
CREATE   PROCEDURE [dbo].[sp_EquipItem]
    @PlayerId INT,
    @ItemId INT
AS
BEGIN
    DECLARE @ItemType NVARCHAR(50);
    
    SELECT @ItemType = ItemType FROM ShopItems WHERE ItemId = @ItemId;
    
    UPDATE UserInventory SET IsEquipped = 0
    WHERE PlayerId = @PlayerId 
    AND ItemId IN (SELECT ItemId FROM ShopItems WHERE ItemType = @ItemType);
    
    UPDATE UserInventory SET IsEquipped = 1
    WHERE PlayerId = @PlayerId AND ItemId = @ItemId;
    
    IF @ItemType = 'Ball'
    BEGIN
        UPDATE BallProperties 
        SET BallSpeed = BallSpeed * (1 + (SELECT EffectValue FROM ShopItems WHERE ItemId = @ItemId)/100.0),
            BallSize = BallSize * (1 + (SELECT EffectValue FROM ShopItems WHERE ItemId = @ItemId)/100.0)
        WHERE PlayerId = @PlayerId;
    END
    
    IF @ItemType = 'Paddle'
    BEGIN
        UPDATE PaddleProperties 
        SET PaddleWidth = PaddleWidth * (1 + (SELECT EffectValue FROM ShopItems WHERE ItemId = @ItemId)/100.0),
            PaddleSpeed = PaddleSpeed * (1 + (SELECT EffectValue FROM ShopItems WHERE ItemId = @ItemId)/100.0)
        WHERE PlayerId = @PlayerId;
    END
    
    SELECT 'Trang bị thành công' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GameOver]    Script Date: 3/15/2026 8:55:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- 2. KẾT THÚC GAME
-- =====================================================
CREATE   PROCEDURE [dbo].[sp_GameOver]
    @PlayerId INT,
    @Score INT
AS
BEGIN
    BEGIN TRANSACTION;
    
    DECLARE @CoinReward INT = @Score / 10;
    
    INSERT INTO Scores (PlayerId, Score, PlayedDate)
    VALUES (@PlayerId, @Score, GETDATE());
    
    IF EXISTS (SELECT 1 FROM GameStats WHERE PlayerId = @PlayerId)
        UPDATE GameStats 
        SET GamesPlayed = GamesPlayed + 1,
            TotalScore = TotalScore + @Score
        WHERE PlayerId = @PlayerId;
    ELSE
        INSERT INTO GameStats (PlayerId, GamesPlayed, TotalScore)
        VALUES (@PlayerId, 1, @Score);
    
    UPDATE Players SET Coins = Coins + @CoinReward WHERE PlayerId = @PlayerId;
    
    COMMIT;
    SELECT @CoinReward AS CoinEarned;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBallProperties]    Script Date: 3/15/2026 8:55:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- 7. LẤY THUỘC TÍNH BÓNG
-- =====================================================
CREATE   PROCEDURE [dbo].[sp_GetBallProperties]
    @PlayerId INT
AS
BEGIN
    SELECT * FROM BallProperties WHERE PlayerId = @PlayerId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetHighScores]    Script Date: 3/15/2026 8:55:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- 11. LẤY ĐIỂM CAO NHẤT
-- =====================================================
CREATE   PROCEDURE [dbo].[sp_GetHighScores]
    @TopCount INT = 10
AS
BEGIN
    SELECT TOP (@TopCount) 
        p.UserName,
        s.Score,
        s.PlayedDate
    FROM Scores s
    JOIN Players p ON s.PlayerId = p.PlayerId
    ORDER BY s.Score DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetInventory]    Script Date: 3/15/2026 8:55:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- 6. LẤY KHO ĐỒ
-- =====================================================
CREATE   PROCEDURE [dbo].[sp_GetInventory]
    @PlayerId INT
AS
BEGIN
    SELECT ui.*, si.ItemName, si.ItemType, si.EffectType, si.EffectValue
    FROM UserInventory ui
    JOIN ShopItems si ON ui.ItemId = si.ItemId
    WHERE ui.PlayerId = @PlayerId
    ORDER BY ui.IsEquipped DESC, ui.PurchasedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPaddleProperties]    Script Date: 3/15/2026 8:55:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- 8. LẤY THUỘC TÍNH VỢT
-- =====================================================
CREATE   PROCEDURE [dbo].[sp_GetPaddleProperties]
    @PlayerId INT
AS
BEGIN
    SELECT * FROM PaddleProperties WHERE PlayerId = @PlayerId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPurchaseHistory]    Script Date: 3/15/2026 8:55:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- 10. LẤY LỊCH SỬ MUA HÀNG
-- =====================================================
CREATE   PROCEDURE [dbo].[sp_GetPurchaseHistory]
    @PlayerId INT
AS
BEGIN
    SELECT ph.*, si.ItemName
    FROM PurchaseHistory ph
    JOIN ShopItems si ON ph.ItemId = si.ItemId
    WHERE ph.PlayerId = @PlayerId
    ORDER BY ph.PurchaseDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LoadLatestGame]    Script Date: 3/15/2026 8:55:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- 4. TẢI GAME MỚI NHẤT
-- =====================================================
CREATE   PROCEDURE [dbo].[sp_LoadLatestGame]
    @PlayerId INT
AS
BEGIN
    SELECT TOP 1 * FROM SaveGame
    WHERE PlayerId = @PlayerId
    ORDER BY SaveDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SaveGame]    Script Date: 3/15/2026 8:55:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- 3. LƯU GAME
-- =====================================================
CREATE   PROCEDURE [dbo].[sp_SaveGame]
    @PlayerId INT,
    @GameState NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO SaveGame (PlayerId, GameState, SaveDate)
    VALUES (@PlayerId, @GameState, GETDATE());
    
    SELECT 'Lưu game thành công' AS Message;
END
GO
